body{
    width: 1920px;
    background-color: #eae8eaFE;
    width: 100%;
    height: 100%;
    }

.container{

    display: flex;
    flex-direction: column;
    
}

main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}


header{
    text-align: center;
}

header img{
    width: 436px;
    height: 204px;
}

h1,h2 {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  

  /* 왼쪽 박스 */

.left_box{
    display: flex;
    flex-direction: column;
    align-items: center ;
    background-color: white;
    width: 360px;
    /* height: 545px; */
}


/* 콜라리스트 */

.list_cola{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
    gap: 12px;
    width: 306px;
    height: 284px;
}

.list_cola li{
    width: 94px;
    height: 130px;
}

.list_cola img{
    width: 35px;
    height: 64px;
}

.list_cola button{
    background-color: white;
    border: none;
    box-shadow: 0px 0px 2px 1px rgb(0 0 0 / 25%);
    width: 94px;
    height: 130px;
    margin-top: 10px;
    border-radius: 10px;
    position: relative;
}

.list_cola .serect-item::before{
    content: '';
    position: absolute;
    top: -1%;
    left: -1%;
    background-color: black;
    width: 95px;
    height: 131px;
    opacity: .7;
    border-radius: 11px;
}


.list_cola .serect-item::after{
    content: '';
    position: absolute;
    top: 15%;
    left: 14%;
    background-image: url(/mediaquery/품절.png);
    background-repeat: no-repeat;
    width: 88px;
    height: 125px;
    
    
}

li button .text-btn{
    line-height: 2;
    font-size: 9px;
}

li button .purple-btn{
    display: inline-block;
    background-color: #6327FE;
    border: 2px solid;
    border-radius: 50px;
    color: white;
    padding: 2px 15px;

}

li button:hover{
  
    outline: 3px solid #6327FE;
    
    
}

li button:focus{
    outline: 3px solid #6327FE;
    
}


.left_box_sub{
    display: grid;
    grid-template-columns:2fr 1fr; 
    margin-top: 20px;
    gap:12px;
    width: 306px; 
}

/* 잔액, 거스름돈 반환 */
.money-left-box{
    display: flex;
    justify-content: space-between;
    padding: 6px 20px 6px 10px;
    width: 170px;
    align-items: center;
    background-color: #EAE8FE;
    border-radius: 5px;
}

.left-now-money{
    padding-left: 60px ;
}

.left_box_sub .result-btn1{
    background-color: #ffffff;
    border: 1px solid #d8d8d8;
    height: 33px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #d8d8d8;
    cursor: pointer;
}

/* 입금액 ,입금버튼 */

input{
    border: 1px solid #d8d8d8;
    border-radius: 5px;
}

left_box_sub .money-left-box2{
    border-radius: 5px;
    border: 1px solid #d8d8d8;
    cursor: pointer;
}    

/* 콜라 리스트 , 획득버튼 */


.cola-result{
    background-color: #EAE8FE;
    height: 120px;
    border-radius: 5px;
    overflow-y: auto;
}

.cola-result li{
    background-color: white;
    margin: 10px; 
    border-radius: 5px;
    position: relative;
    font-size: 9px;
    padding: 18px;
}

.cola-result li span{
    margin: 15px;
}

.cola-result::-webkit-scrollbar {
    width: 10px;
}

.cola-result::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 50px;
    background-clip: padding-box;
    border: 3px solid transparent;
}

.cola-result::-webkit-scrollbar-track {
    margin: 5px;
}

.cola-result li::before{
    content: '';
    background-image: url(/mediaquery/Green_Cola.svg);
    position: absolute;
    background-size: cover;
    width: 18px;
    height: 33px;
    left: 5%;
    top: 15%;   
}

.cola-result li::after{
    content: '';
    font-size: 14px;
    position: absolute;
    border: 1px solid gray;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    left:73%;
    top:15%;
        
}


.result-btn2{
    background-color: #6327FE;
    color: #ffffff;
    border: 1px solid #d8d8d8;
    height: 120px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #d8d8d8;
    cursor: pointer;
    
}



/*  오른쪽 박스 */

.right_box{
    margin-left: 20px;
    
}

.my_money{
    background-color: white;
    width: 360px;
    height: 50px;
    margin-bottom: 16px;
    position: relative;
}

.my_money .money-rigth-box{    
    background-color: #EAE8FE;
    margin-top: 10px;
    padding: 10px 10px;
    margin: 8px 10px;
    position: absolute;
    width: 320px;
    border-radius: 5px;
    top:0;
}

.my_money .money-rigth-box .now_money{
    position: relative;
    
}


.my_money .money-rigth-box .now_money::after{
    content: '원';
    position: absolute;
    left: 280px;
}

.now-number{
    margin-left: 180px;
}




.list-box{
    background-color: white;
    width: 360px;
    height: 480px;
    
}


.list-box h3{
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    padding-top: 50px;
}


.list-box .right-list-item{
    background-color: #eae8fe;
    width: 306px;
    height: 354px;
    margin: 13px 27px 13px 27px;
    border-radius: 10px;
    padding-top: 12px;
}

.list-box .right-list-item li{
    
    margin: 12px;
    padding: 6px 6px 7px 10px;
    background-color: #ffffff;   
    position: relative;
    font-size: 9px;
    border-radius: 5px;
    display: flex;
    
}


.list-box li img{
    width: 18px;
    height: 33px;
}

.list-box li span{
    margin: 15px;
    
}


.list-box .right-list-item li::after{
    content: '';
    padding: 15px;
    border: 1px solid gray;
    position: absolute;
    left: 80%;
    top: 15%;
    border-radius: 5px;
}

.number-relsut{
    font-size: 14px;
    display: grid;
    text-align: right;
    margin-right: 27px;
    grid-template-columns: 2fr 1fr;
}


@media(max-width:760px) {

    header img{
     width:166px;
     height: 71px;
    }
    
    .right_box{
        background-color: white;
        margin-left: 0;
        padding-bottom: 20px;
    }  
}

















